<!-- 템플릿 레이아웃 -->
<!-- 첫번째 방식의 문제점
바뀐 부분이 있으면 모든 페이지를 수정해야함 -->
<!DOCTYPE html>

<style>
    .header {
        height: 20vh;
        background-color: rgb(255, 128, 192)    }
    .content {
        height: 30vh;
        background-color: lightgray;
    }
    .footer {
        height: 10vh;
        background-color: green;
    }
</style>

<body>

<div class="header">
    <h1>HEADER</h1>
</div>

<!-- 다른 파일로 교체 -->
<div class="content" >
<!-- 
블록태그 : html태그 없이 타임리프의 문법을 사용
th:replace => 외부에 있는 코드를 가져와서 블록태그 자리에 교체 
~{} : 조각표현식
파일의 경로와 조각의 이름을 작성
-->
	<th:block th:replace=" ~{ Layout/fragment :: frag1 }"></th:block>
	
</div>
<div class="footer">
    <h1>FOOTER</h1>
</div>

</body>
</html>